@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='text'],
  input[type='email'],
  input[type='number'],
  input[type='date'],
  input[type='tel'],
  textarea,
  select {
    @apply py-1.5 px-3;
  }

  label {
    @apply mb-0.5;
  }

  .form-group {
    @apply mb-3;
  }
}
